---
import type { Project } from '~/types/project';

import Chip from '../common/chip.astro';
import H3 from '../common/headings/h3.astro';
import Api from '../common/icons/api.astro';
import Construction from '../common/icons/construction.astro';
import ExternalLink from '../common/icons/external-link.astro';
import Github from '../common/icons/github.astro';
import Laptop from '../common/icons/laptop.astro';
import Package from '../common/icons/package.astro';
import Phone from '../common/icons/phone.astro';
import Tooltip from '../common/tooltip.astro';

interface Props {
  data: Project;
}

const { data } = Astro.props;
---

<li
  class="flex flex-col space-y-4 rounded-md border border-card bg-background/20 p-4 backdrop-blur-md"
>
  <H3 class="flex items-center gap-2">
    <span>{data.name}</span>
    {
      data.under_construction && (
        <Tooltip text="Under construction">
          <Construction class="size-5 cursor-help" />
        </Tooltip>
      )
    }
  </H3>
  <p class="text-dimmed">{data.description}</p>
  <div class="flex w-full justify-between space-x-4">
    <ul class="flex flex-1 flex-wrap gap-2">
      {
        data.technologies.map((technology) => {
          return (
            <li>
              <Chip>{technology.name}</Chip>
            </li>
          );
        })
      }
    </ul>

    <ul class="flex space-x-2">
      <li>
        <Tooltip
          text={data.type}
          class={data.type === 'api' ? 'uppercase' : 'capitalize'}
        >
          {
            data.type === 'website' ? (
              <Laptop class="size-5 cursor-help" />
            ) : data.type === 'app' ? (
              <Phone class="size-5 cursor-help" />
            ) : data.type === 'api' ? (
              <Api class="size-5 cursor-help" />
            ) : (
              <Package class="size-5 cursor-help" />
            )
          }
          <span class="sr-only capitalize">{data.type}</span>
        </Tooltip>
      </li>

      {
        Boolean(data.repo) && (
          <li>
            <Tooltip text="View on GitHub">
              <a href={data.repo!} target="_blank" rel="noopener noreferrer">
                <Github class="size-5" />
                <span class="sr-only">View project on GitHub</span>
              </a>
            </Tooltip>
          </li>
        )
      }
      {
        data.repo !== data.link && (
          <li>
            <Tooltip text="View project">
              <a href={data.link} target="_blank" rel="noopener noreferrer">
                <ExternalLink class="size-5" />
                <span class="sr-only">View project on external site</span>
              </a>
            </Tooltip>
          </li>
        )
      }
    </ul>
  </div>
</li>
