---
import { Image } from 'astro:assets';

import Contact from '~/components/common/contact/index.astro';
import H1 from '~/components/common/headings/h1.astro';
import H2 from '~/components/common/headings/h2.astro';
import Subtitle from '~/components/common/headings/subtitle.astro';
import ArrowRight from '~/components/common/icons/arrow-right.astro';
import Jobs from '~/components/jobs/index.astro';
import FeaturedProjects from '~/components/projects/featured.astro';
import { getI18N, getLangFromUrl } from '~/i18n/utils';
import Layout from '~/layouts/layout.astro';

const lang = getLangFromUrl(Astro.url);
const i18n = getI18N({ currentLocale: lang });
---

<Layout title={i18n.home.title}>
  <main class="flex w-full flex-col gap-14">
    <section class="grid grid-cols-1 gap-10 md:grid-cols-2">
      <div class="flex flex-col justify-center gap-6">
        <div class="flex flex-col justify-start gap-2">
          <H1>{i18n.home.main.title}</H1>
          <Subtitle>
            {i18n.home.main.subtitle}
          </Subtitle>
        </div>
        <div class="flex flex-col space-y-2 text-dimmed">
          <p>
            {i18n.home.main.description[0]}
          </p>
          <p>
            {i18n.home.main.description[1]}
          </p>
        </div>
        <Contact />
      </div>

      <div class="grid place-content-center">
        <Image
          src="/assets/images/miguel_angel.webp"
          width={400}
          height={400}
          alt={i18n.home.title}
          loading="eager"
          decoding="sync"
        />
      </div>
    </section>

    <section class="space-y-6">
      <div class="flex flex-col justify-start gap-1">
        <H2>
          {i18n.home.projects.title}
        </H2>
        <Subtitle class="text-dimmed">
          {i18n.home.projects.subtitle}
        </Subtitle>
      </div>
      <FeaturedProjects />
      <div class="div flex justify-start">
        <a href="/projects" class="group flex items-center gap-1">
          <Subtitle>
            {i18n.home.projects.view_all}
          </Subtitle>
          <ArrowRight
            class="mt-px transition-transform duration-300 group-hover:translate-x-1"
          />
        </a>
      </div>
    </section>

    <section class="space-y-6">
      <div class="flex flex-col justify-start gap-1">
        <H2>
          {i18n.home.jobs.title}
        </H2>
        <Subtitle class="text-dimmed">
          {i18n.home.jobs.subtitle}
        </Subtitle>
      </div>
      <Jobs />
    </section>
  </main>
</Layout>
